
body {
  background-color: rgb(171, 171, 171);
}

.title {
  animation: 2.5s anim-textUp ease-out;
  text-align: center;
  margin-top: 1rem;
}

.p-bio {
  /* max-width: 800px; */
  text-align: center;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

#unit-1, #unit-2, #unit-3 {
  /* display: inline-block; */
  text-align: center;
  margin-bottom: 10px;
}


.projects {
  display: inline-block;
  /* height: 100%; */
  width: 300px;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
  
}

@keyframes anim-textUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%)
  }
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #282A35;
}

.nav-bar ul li {
  display: inline;
  float: left;
  color: white;
  margin: 0 3rem;
}

.nav-bar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .nav-bar ul li a{
    margin: 0 0 0 0;
    padding: 0px 0px;
  }

  .subject, .lists{
    margin-left: 1rem;
  }
  .lists p {
    margin: 0;
  }
}

#github, #linked-in {
  float: right;
}

li a:hover {
  background-color: #111;
}

.subject, .lists, .jobs{ 
  margin-left: 2.5rem;
}

